<div class="table-container">
  @if (hasData) {
    @let rows = dataAsArray;
    @let firstRow = rows[0];

    <table>
      <thead>
      <tr>
        <th class="index-col">#</th>
        @for (item of firstRow | keyvalue; track item.key) {
          <th>{{ item.key }}</th>
        }
      </tr>
      </thead>
      <tbody>
        @for (row of rows; track $index) {
          <tr>
            <td class="index-col">{{ $index + 1 }}</td>
            @for (cell of row | keyvalue; track cell.key) {
              <td [title]="cell.value">{{ cell.value }}</td>
            }
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div class="empty-state">No data available.</div>
  }
</div>
